<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="DomainContext" type="EmployeeSystem.Model.DomainContext, EmployeeSystem.Model" />
    <alias alias="HttpRequest" type="EmployeeSystem.Infrastructure.RequestLifeTimeManager.HttpRequestLifetimeManager, EmployeeSystem.Infrastructure" />
    <alias alias="ICompanyRepository" type="EmployeeSystem.Model.IRepository.ICompanyRepository, EmployeeSystem.Model" />
    <alias alias="CompanyRepository" type="EmployeeSystem.Infrastructure.Repositories.CompanyRepository, EmployeeSystem.Infrastructure.Repositories" />
    <alias alias="IEmployeeRepository" type="EmployeeSystem.Model.IRepository.IEmployeeRepository, EmployeeSystem.Model" />
    <alias alias="EmployeeRepository" type="EmployeeSystem.Infrastructure.Repositories.EmployeeRepository, EmployeeSystem.Infrastructure.Repositories" />
    <container>
      <register type="DomainContext" mapTo="DomainContext"></register>
      <register type="ICompanyRepository" mapTo="CompanyRepository">
        <constructor>
          <param name="context" dependencyType="DomainContext" />
        </constructor>
      </register>
      <register type="IEmployeeRepository" mapTo="EmployeeRepository">
        <constructor>
          <param name="context" dependencyType="DomainContext" />
        </constructor>
      </register>
    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>